@font-face{
  font-family: Pacifico;
  src: url(Pacifico.ttf);
}
@font-face{
  font-family: LobsterTwo;
  src: url(LobsterTwo-Regular.otf);
}

body{
	background-color: #63B397;
	
}
.center{
  text-align: center;
}

h1{
	font-family: LobsterTwo;
	font-size: 4em;
	color: #F5F7E6;
	text-decoration: underline;
}
h2{
	font-family: LobsterTwo;
	font-size: 2em;
	color: #F5F7E6;
	text-decoration: underline;
	padding: 0;
	margin: 0;
}
table, th, td {
	border-radius: 15px;
	background-color: #A2E5D2;
  border: solid 0px !important;
	color: #F5F7E6;
	font-family: LobsterTwo;
	font-size: 2em;
}
table tr,table th{
	border-radius: 0px !important;
}
table th:first-child{
	border-radius:15px 0 0 0px !important;
}

table th:last-child{
	border-radius:0 15px 0px 0 !important;
}
table{
	margin: 0px auto;
}
thead tr{
	background-color: #63B397;
}
th{
	text-decoration: underline;
}
.button{
	font-family: LobsterTwo;
	font-size: 100%;
	padding: 0.25em 0.5em;
	border: 0px none transparent;
	text-decoration: none;
	border-radius: 1em;
	color:white;
}
.button-error {
	background-color: #CA3C3C;
}
.button-remove {
	background-color: #CA3C3C;
}
.button-success{
	background-color: #1CB841; 
}
.pure-form input{
	font-family: LobsterTwo;
	font-size: 1.6em;
	color: white;
	border: 0px !important;
	box-shadow: 0px 0px 0px !important;
	border-radius: 15px !important;
	background-color: #A2E5D2;
	margin-top: 10px;
}
.pure-form legend{
	border-bottom: 0px !important;
}
.button-add{
	font-size: 2em;
}

@media screen and (max-width:900px) {
	table, th, td {
		font-size: 1.7em;
	}
}
@media screen and (max-width:600px) {
	table, th, td {
		font-size: 1.5em;
	}
}